:root {
    --gameboard-width: 500px;
    --gameboard-height: 500px;
    --gameboard-gap: 5px;
    --gameboard-border-width: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 10px;
    height: 100vh;
}

dialog {
    padding: 2rem;
    margin: auto;
}

dialog form {
    display: grid;
    justify-content: center;
}

dialog div {
    margin-bottom: 0.75rem;
}

dialog button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

dialog button:hover {
    opacity: 0.85;
}

#turn {
    font-size: 2rem;
}

#gameboard {
    display: grid;
    gap: var(--gameboard-gap);
    background-color: gray;
    width: var(--gameboard-width);
    height: var(--gameboard-height);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: var(--gameboard-border-width) solid black;
    visibility: hidden;
}

#gameboard div {
    background-color: white;
    width: calc((var(--gameboard-width) - var(--gameboard-gap) * 2 - var(--gameboard-border-width) * 2) / 3);
    height: calc((var(--gameboard-height) - var(--gameboard-gap) * 2 - var(--gameboard-border-width) * 2) / 3);
}


#gameboard div button {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 5rem;
}